/* :root {
  --primary: white;
  --font: #62008B;
} */


.App {
  text-align: center;
  display: grid;
  grid-template: 1fr 1fr 5fr 0.5fr /1fr;
  grid-template-areas: 
  "nav"
  "articles" 
  "topic"
  "footer";
  height: 100vh;

}

@media (max-width: 700px)  {
  .App {
    grid-template: 1fr 1fr 5fr 1fr/ 1fr;
      grid-template-areas:
  "nav"
  "topic"
  "articles"
  "footer";
  height: 100vh;
  }
  }



  /*-------------------------- login screen --------------------*/
  .login-screen {
    display: grid;
    justify-content: center;
    text-align: center;
    align-content: center;
    align-content: center;
  }

  .login-card {
    display: flex;
    padding: 1% 1% 1% 1%;
  }


/* ---------------------articles component -----------------  */
.articles {
  padding: 12% 5% 5% 5%; 
  grid-area: articles;
  /* overflow-y: scroll; */
}

::-webkit-scrollbar {
  display:none;
}


.cardContent{
  padding: 5% 5% 5% 5%;  
}



/* ----------------article card component --------------- */

.articleCard{
  padding: 1 1 1 1;
}


/* ---------------------footer component -----------------  */
.footer {
  grid-area: footer;
  background-color:#c00000;
}
