.App {
  text-align: center;
  display: grid;
  grid-template: 0.5fr 0.5fr 5fr 0.5fr / 3fr 1fr;
  grid-template-areas: 
  "header header"
  "nav nav"
  "articles sidebar"
  "footer footer";
  height: 100vh;
}

.header {
  grid-area: header;
  border: 1px solid black;
  background-color: lightblue;
}

.nav {
  grid-area: nav;
  border: 1px solid black;
  background-color: rgb(178, 230, 173); 
}

.articles {
  grid-area: articles;
  border: 1px solid black;
  background-color: rgb(230, 199, 173);  
}

.sidebar {
  grid-area: sidebar;
  border: 1px solid black;
  background-color: rgb(173, 228, 230);   
}

.footer {
  grid-area: footer;
  border: 1px solid black;
  background-color: rgb(179, 173, 230);   
}
